

.banner {
    background: rgba(13, 245, 0, 0.38);
    height: fit-content;
    border: 1px solid green;
    animation: name-of-animation 10s ;
    text-align: center;
}

.newBtn {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
    

}

@keyframes name-of-animation {
    0%    { opacity: 0; }
    25%    { opacity: 1; }
    75%  { opacity: 1; }
    100%  { opacity: 0; }
   
  }